<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_YAzYkOvNo9KFoOtQaMU1Mubvnwj8w7k</string>
	<key>GCM_SENDER_ID</key>
	<string>209405563746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hotelflutter</string>
	<key>PROJECT_ID</key>
	<string>hotel-9bc20</string>
	<key>STORAGE_BUCKET</key>
	<string>hotel-9bc20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209405563746:ios:5490d19b3f8106a672123b</string>
</dict>
</plist>